.sidebar{
    margin-bottom: 20px;
    &-title{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .DayPicker-Caption{
        border-radius: 6px 6px 0 0;
        background: #554224;
        padding:8px 16px;
        margin-bottom: 0;
        div{
            color: white;
        }
    }
    .DayPicker-NavBar{
       span{
        margin-top: 8px;
       color: white !important;
       }
    }
    .DayPicker-WeekdaysRow{
        margin-top: 16px;
        abbr{
            color: #c3b198;
            font-size: 18px;
            font-weight: bold;

        }
    }
   .DayPicker-Month{
        background: #e2d8cc;
    }
    .DayPicker-Day{
        font-size: 16px;
        font-weight: bold;
    }
    &-blogs-box{
        margin-top: 24px;
        &-title{
            color:#bd946f;
            margin-bottom: 10px;
        }
        &-content{
            margin-bottom: 8px;
        }
    }
    button{
        margin-top: 20px;
        background: #e58a3b;
        color: white;
        padding: 6px 16px;
        border: 1px solid white;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            fill: white;
            stroke: white;
            margin-left: 8px;
        }
        transition: all 0.5s ease;
        &:hover {
            color: #e58a3b;
            background: white;
            border-color: #e58a3b;
            svg {
                fill: #e58a3b;
                stroke: #e58a3b;
                margin-left: 8px;
            }
        }
    }
}