.sidebar {
    margin-bottom: 20px;
    &-blogs {
        // padding-left: 20px;
        // padding-right: 20px;
    }
    &-title {
        font-size: 28px;
        // padding-left: 20px;
        // padding-right: 20px;
        margin-bottom: 16px;
    }
    .DayPicker-wrapper {
        // background-color: #c3b198;
        background: #ddd1c1;
        border-radius: 6px;
    }
    .DayPicker-Caption {
        // background: #554224;
        // padding: 8px 16px;
        // margin-bottom: 0;
        div {
            color: #554224;
        }
    }
    .DayPicker-NavBar {
        span {
            // margin-top: 8px;
            color: white !important;
        }
    }
    .DayPicker-WeekdaysRow {
        // margin-top: 16px;
        abbr {
            color: #c3b198;
            // font-size: 18px;
            // font-weight: bold;
        }
    }
    .DayPicker-Month {
    }
    .DayPicker-Day {
        // font-size: 16px;
        // font-weight: bold;
    }
    &-blogs-box {
        margin-top: 24px;
        &-title {
            a {
                color: #e58a3b;
            }
            margin-bottom: 10px;
        }
        &-content {
            margin-bottom: 8px;
        }
    }
}
